.select-wrapper {
    color: #fff !important;
}

.dropdown-content li {
    color: #fff !important;
}

.caret {
    fill: #fff !important;
}


.select-wrapper input.select-dropdown:focus {
    color: #fff !important;
    border-bottom: 1px solid #fff !important;
}

.select-wrapper input.select-dropdown {
    color: #fff !important;
    border-bottom: 1px solid #fff !important;
}
