.margin-top-small {
    margin-top: 2rem;
}

.margin-top-mini {
    margin-top: .5rem !important;
}

.row {
    margin-bottom: 0 !important;
}

/* Hide Sections */
.hide {
    display:none;
}


/* TABS */
.tabs .tab a:hover {
    background-color:#eee !important;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:rgba(33, 149, 243, 0.507) !important;
    color:#fff !important;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#2196f3 !important;
} /*Color of underline*/

.disabled {
    pointer-events: none;
}